
        body{
        position: relative;
        top: 15%;
        left: 50px;
        }
         .title{ 
         margin-bottom: 10px; 
         text-align:center; 
         width: 258px; 
         color:black; 
         border: solid black 5px; 
         } 
  
         input[type="button"] 
         { 
         background-color:aqua; 
         color: black; 
         border: solid black 2px; 
         width:100% 
         } 
  
         input[type="text"] 
         { 
         background-color:white; 
         border: solid black 2px; 
         width:100% 
         } 

         .buttonGroup {
            position: relative;
            top: 20px;
            right: 15;
        }

        #statusMessage{
            position: relative;
            top: 100px;
            right: 15px;
        }